.row
  .col-md-6
    .starter-template
      h1 Let's get you reading
      p.lead Read a book, one snippet at a time, delivered to your inbox
  .col-md-6.left-border
    h1 sign-up
    p
      input(type=text)
    p
      input(type=text)
    p
      input(type=text)
    p or sign in using
      i.fa.fa-facebook
      i.fa.fa-google
      i.fa.fa-twitter
    p aleady have an account? sign in.
    p forgot your password? click here to reset.
