doctype html
html(lang='en' ng-app='quickreads')
  head
    title quickreads
    include includes/styleblock
    meta(charset='utf-8' name='viewport', content='width=device-width, initial-scale=1')

  body(ng-controller='HomeController')
    include includes/header
      
    .container
      .row
        .columns
          .well(ui-view="viewA") 
      
    include includes/footer
    include includes/scriptblock
